<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10="/>
    <env name="APP_DEBUG" value="true"/>
    <env name="SIPAY_HOST" value="https://provisioning.sipay.com.tr"/>
    <env name="SIPAY_MERCHANT_ID" value="18309"/>
    <env name="SIPAY_MERCHANT_KEY" value="$2y$10$HmRgYosneqcwHj.UH7upGuyCZqpQ1ITgSMj9Vvxn.t6f.Vdf2SQFO"/>
    <env name="SIPAY_APP_KEY" value="6d4a7e9374a76c15260fcc75e315b0b9"/>
    <env name="SIPAY_APP_SECRET" value="b46a67571aa1e7ef5641dc3fa6f1712a"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
